<!-- FOOTER -->

  <footer id="footer" >
    <div class="" style="position:relative; bottom:0;" >
      <a href="https://twitter.com/PriyanshuMang13?t=BP5J6qNPDNB9rFpyRxiRng&s=08" style="color:black;">
        <i class="social-icon fab fa-twitter fa-2x"></i>
      </a>
      <a href="mailto:mangalpriyanshu456@gmail.com" style="color:black;">
        <i class="social-icon fas fa-envelope fa-2x"></i>
      </a>
      <a href="https://www.linkedin.com/in/priyanshu-mangal-777a2b193" style="color:black;">
        <i class="social-icon fab fa-linkedin fa-2x"></i>
      </a>

      <p>© Copyright 2022 MANITora</p>
    </div>
  </footer>
<!-- <div class="footer-new">
  <div class="container-fluid">
    <i class="social-icon fab fa-facebook-f fa-2x"></i>
    <i class="social-icon fab fa-twitter fa-2x"></i>
    <i class="social-icon fab fa-instagram fa-2x"></i>
    <i class="social-icon fas fa-envelope fa-2x"></i>
    <p>© Copyright 2021 MANITora</p>
  </div>

</div> -->


  </body>
</html>
